################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/ZipCompressionSample/obj/Debug
/source/Karna.Compression/obj/Debug
